
<button id="request-btn">Click to get response</button>
<div id=response></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#request-btn").click(function(){
            $.ajax({
               url: "/ajax",
               type: "GET",
               dataType:"json",
               success: function(result){

                $.each(result, function() {
                    html = "Name:" + this. username+ "<br>" +"tagline:" + this.firstname + "<hr>"
                    $("#response").append(html)
                });
            } 
        });
        });
    }); 
</script>
    
