{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- forgot password -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="modal-body">
            <div class="my-5 p-5 pro">
                <h5 class="text-center mb-4">Reset Your Password</h5> <hr>
                <div id="result"></div>
                <form action="" method="post" id="reset_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="mb-2">Enter Your Username</label>
                        <input type="text" class="form-control" id="username" name="u_name" placeholder="Enter Username Here..." required>
                    </div>
                    <button type="button" class="btn btn-primary submit mb-4" id="continue">Click to Countinue</button>
                    
                    <div class="mt-2" id="spin" style="display: none;">
                        <div class="loader"></div>
                    </div>

                    <div style="display:none;" id="afterotp">
                        <div class="form-group">
                            <label class="mb-2">Enter OTP</label>
                            <input type="number" class="form-control" id="userotp" placeholder="OTP" required>
                        </div> 
                            <button type="button" class="btn btn-primary submit mb-4" id="verify_otp" style="display: none;" >Verify OTP</button>
                    </div>

                    <div id="change_pass" style="display: none;">
                        <div class="form-group">
                            <label>Enter New Password</label>
                            <input type="password" class="form-control" name="new_pass" placeholder="Enter New Password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary submit mb-4">Change Password</button>
                        </div>
                    </div> 
                    <input type="hidden" id="realotp"> 
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#continue").click(function(){
            $("#spin").show();
            let username = $("#username").val();
            
            $.ajax({
                url: "{% url 'reset_password' %}",
                type: "GET",
                data: $("#reset_form").serialize(),
                success:function(data){
                    $("#spin").hide();
                    if(data.status == "failed"){
                        $("#result").html("<p class='alert alert-danger'>No user registerd with this username</p>");
                    }
                    else if(data.status == "error"){
                        $("#result").html("<p class='alert alert-danger'>Could not send email to" + data.email + "Something went wrong !!!</p>" );
                    }
                    else if(data.status == "sent"){
                        $("#result").html("<p class='alert alert-success'>An OTP sent to your Email ID: " + data.email + "</p>");
                        $("#continue").hide();
                        $("#afterotp").slideDown(1000);
                        $("#verify_otp").slideDown(1000);
                        $("#realotp").val(data.rotp);
                    }
                }
            })
        })
    })
    
    $(document).ready(function(){
        $("#verify_otp").click(function(){
            userotp = $("#userotp").val();
            realotp = $("#realotp").val();

            if(userotp == realotp){
                $("#afterotp").hide();
                $("#change_pass").slideDown(1000);
                $("#result").html("<p class='alert alert-success'>Validation Success !!!</p>");

                }
                else{
                    $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>");
                }
        })
    }) 
  
</script>

<!--//forgot password-->
{% endblock %}                  
  