<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Posters</title>
</head>
<body>
	<h1>Search Result</h1>
	<div>
		
<img src="{{file.images.url}}">
	</div>
	<div>
		{{accomodation.city}}
	</div>
	<div>
		{{accomodation.location}}
	</div>
	<div>
		{{accomodation.facilites}}
	</div>
	<div>
		{{accomodation.rent}}
	</div>
	<div>
		{{accomodation.email}}
	</div>
	<div>
		{{accomodation.mobile}}
	</div>


</body>
</html>