{% extends 'formbase.html' %}
{% load static %}
{% block content %}
		<!-- banner-text -->
		<div class="banner-w3ltext about-w3bnr">
			<div class="container">
				<h1 class="text-white text-center">
					<a href="{% url 'home' %}">Home</a> / Property</h1>
			</div>
		</div>
		<!-- //banner-text -->
	</div>
	<!-- //banner -->

	<!-- gallery -->
	<section class="wthree-row w3-gallery py-5">
		<div class="container py-xl-5 py-lg-3">
			{% if properties %}
			<div class="text-center mb-lg-5 mb-4">
				<h3 class="tittle mb-2">My Property</h3>
				<p>See your roperty</p>
			</div>
			{% if messages %}
    		{% for message in messages %}
    		<div  {% if messages.tags %} class="alert {{ messages.tags }} alert-dismissible fade show" id="msg" role="alert" {% endif %}>
				{{ message }}
    		</div>
    		{% endfor %}
			{% endif %} 
			<ul class="portfolio-categ filter mb-5 pb-4 text-center border-bottom">
				<li class="port-filter all active">
					<a href="{% url 'new_property' %}">Add property</a>
				</li>
				<li class="cat-item-1">
					<a href="#" title="Category 1">Bedroom</a>
				</li>
				<li class="cat-item-2">
					<a href="#" title="Category 2">Bathroom</a>
				</li>
				<li class="cat-item-3">
					<a href="#" title="Category 3">Kitchen</a>
				</li>
				<li class="cat-item-4">
					<a href="#" title="Category 4">Living Room</a>
				</li>
				<li class="cat-item-5">
					<a href="#" title="Category 5">Office</a>
				</li>
				<li class="cat-item-6">
					<a href="#" title="Category 6">Pool</a>
				</li>
			</ul>
		{% for property in properties %}
		<div class="row">
			<div class="col-sm-2 col-md-2"></div>
			<div class="col-sm-4 col-md-4">
				<img  class="img-responsive" src="{{ property.images.url }}" style="width: 100%">
			</div>
			<div class="col-sm-5 col-md-5">
				<div class="caption">
					<h3>{{ property.headline }}</h3>
					<div>
							{{property.city}}
						</div>
						<div>
							{{property.location}}
						</div>
						<div>
							{{property.facilites}}
						</div>
						<div>
							{{property.rent}}
						</div>
						<div>
							<a href="{% url 'edit_property' property.id %}" class="btn btn-success">Edit</a>
							<a href="{% url 'delete_property' property.id %}" class="btn btn-danger">Delete</a>
						</div>
					</div>
			</div>
		</div>
	</div>
		<hr>
		{% endfor %}
		{% else %}
		<div class="text-center mb-lg-5 mb-4">
			<h3 class="tittle mb-2">Add your first property</h3>
			<p>Find your gust</p>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">Hi, {{ user.first_name }}</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<a class="btn btn-primary btn-lg" href="{% url 'new_property' %}" role="button">Learn more</a>
		  </div>
		{% endif %}
			<!--end property-area -->
		</div>
		<!-- //property container -->
	</section>
	<!-- //gallery -->
	

	{% endblock %}