{% extends 'formbase.html' %}
{% load static %}
{% block content %}
		<!-- banner-text -->
		<div class="banner-w3ltext about-w3bnr">
			<div class="container">
				<h1 class="text-white text-center">
					<a href="{% url 'home' %}">Home</a> / Property</h1>
			</div>
		</div>
		<!-- //banner-text -->
	</div>
	<!-- //banner -->

	<!-- gallery -->
	<section class="wthree-row w3-gallery py-5">
		<div class="container-fluid py-xl-5 py-lg-3">
			{% if properties %}
			<div class="text-center mb-lg-5 mb-4">
				<h3 class="tittle mb-2">My Property</h3>
				<p>See your property</p>
			</div>
			{% if messages %}
    		{% for message in messages %}
    		<div  {% if messages.tags %} class="alert {{ messages.tags }} alert-dismissible fade show" id="msg" role="alert" {% endif %}>
				{{ message }}
    		</div>
    		{% endfor %}
			{% endif %} 
			<ul class="portfolio-categ filter mb-5 pb-4 text-center border-bottom">
				<li class="port-filter all active">
					<a href="{% url 'new_property' %}">Add property</a>
				</li>
				<li class="cat-item-1">
					<a href="#" title="Category 1">Bedroom</a>
				</li>
				<li class="cat-item-2">
					<a href="#" title="Category 2">Bathroom</a>
				</li>
				<li class="cat-item-3">
					<a href="#" title="Category 3">Kitchen</a>
				</li>
				<li class="cat-item-4">
					<a href="#" title="Category 4">Living Room</a>
				</li>
				<li class="cat-item-5">
					<a href="#" title="Category 5">Office</a>
				</li>
				<li class="cat-item-6">
					<a href="#" title="Category 6">Pool</a>
				</li>
			</ul>
		{% for property in properties %}
	<!--	<div class="row">
			<div class="col-sm-2 col-md-2"></div>
			<div class="col-sm-4 col-md-4">
				<div class="inner">
				<img  class="img-fluid" src="{{ property.images.url }}" style="width: 100%">
				</div>
			</div>
			<div class="col-sm-5 col-md-5">
				<div class="caption">
					<h3>{{ property.headline }}</h3>
					<div>
							{{property.city}}
						</div>
						<div>
							{{property.location}}
						</div>
						<div>
							{{property.facilites}}
						</div>
						<div>
							{{property.rent}}
						</div>
						<div>
							<a href="{% url 'edit_property' property.id %}" class="btn btn-success">Edit</a>
						

						<button type="button" class="log btn btn-danger" data-toggle="modal" data-target="#deleteBox">delete</button>
						<div class="modal fade" id="deleteBox" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header text-center">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="px-4 mx-auto mw-100">
											<h5 class="mb-4">Delete</h5>
											<strong>The following property will be deleted permanenty.</strong>
											<p class="pl-3">Property: {{ property.headline }}</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">CANCEL</button>
											<a href="{% url 'delete_property' property.id %}" class="btn btn-danger">OK</a>
										</div>
									</div>
								</div>
							</div>
						</div>

								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
		<hr>-->
		<div class="container">
			<div class="row">
				<div class="mx-auto">
					<div class="modal-body">
					<div class="p-5 pro">
						<div class="row">
							<div class="col-md-4">
								<div class="inner">
									<div class="badge badge-secondary p">{{ property.types }}</div>
									<img src="{{ property.images.url }}" class="img-fluid">
								</div>
							</div>
							<div class="col-md-5">
								<div class="caption">
									<div>
										<h4>{{ property.rent }}</h4>
										<i class="far fa-thumbs-up"></i>
										<span>Deposite: {{ property.deposite }}</span>
									</div>
									<div>
										<h5>{{ property.headline }}, {{ property.location }}</h5>
									</div>
									<div>
										<strong>Location: </strong>{{ property.city }}
									</div>
									<div>
										<strong>Address: </strong>{{ property.address }}
									</div>
									<div>
										<strong>Email: </strong>{{ property.email }}
									</div>
									<div>
										<strong>Mobail: </strong>{{ property.mobile }}
									</div>
									<div>
										{{property.facilites}}
									</div>
									<div id="response"></div>
								</div>
							</div>
							<div class="col-md-3">
								<a href="{% url 'edit_property' property.id %}" class="btn btn-success">Edit</a>
						

						<button type="button" class="log btn btn-danger" data-toggle="modal" data-target="#deleteBox">delete</button>
						<div class="modal fade" id="deleteBox" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header text-center">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									
									<div class="modal-body">
										<div class="px-4 mx-auto mw-100">
											<h5 class="mb-4">Delete</h5>
											<strong>The following property will be deleted permanenty.</strong>
											<p class="pl-3">Property: {{ property.headline }}</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">CANCEL</button>
											<a href="{% url 'delete_property' property.id %}" class="btn btn-danger">OK</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
		{% endfor %}
		{% else %}
		<div class="text-center mb-lg-5 mb-4">
			<h3 class="tittle mb-2">Add your first property</h3>
			<p>Find your gust</p>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">Hi, {{ user.first_name }}</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<a class="btn btn-primary btn-lg" href="{% url 'new_property' %}" role="button">Add Property</a>
		  </div>
		{% endif %}
			<!--end property-area -->
		</div>
		<!-- //property container -->
	</section>
	<!-- //gallery -->
	<script>
		setTimeout(function(){
		if ($('#msg').length > 0) {
			$('#msg').remove();
		}
		}, 2000)
	</script>
	

	{% endblock %}