{% extends 'formbase.html' %}
{% load static %}
{% block content %}

<!-- banner-text -->
<div class="banner-w3ltext about-w3bnr">
	<div class="container">
		<h1 class="text-white text-center">
			<a href="{% url 'home' %}" class="img-fluid">Home</a> / Property Details</h1>
	</div>
</div>
<!-- //banner-text -->
</div>
<!-- //banner -->
<!-- search result -->
<section class="wthree-row w3-gallery py-5">
	<div class="container-fluid py-xl-5 py-lg-3">
		<div class="text-center mb-lg-5 mb-4">
			<h3 class="tittle mb-2">Property Details</h3>
			<p>See your choice</p>
        </div>
        {% if property %}
        <div class="container">
                <div class="row">
                        <div class="mx-auto">
                                <div class="modal-body">
                                <div class="p-5 pro">
                                        <div class="row">
                                             <!--{% for pro_img in property.propertyimg.all|slice:":1" %}
                                                <img src="{{ pro_img.image.url }}" class="img-fluid ProImg">
                                                {% endfor %}-->

                                                <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                        <ol class="carousel-indicators">
                                                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                                        </ol>
                                                        <div class="carousel-inner">
                                                        
                                                          <div class="carousel-item active">
                                                        {% for pro_img in property.propertyimg.all %}
                                                            <img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">
                                                        {% endfor %}    
                                                          </div>
                                                          
                                                        </div>
                                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="sr-only">Next</span>
                                                        </a>
                                                      </div>-->


                                                      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                        <ol class="carousel-indicators">
                                                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                                        </ol>
                                                        <div class="carousel-inner">
                                                        {% for pro_img in property.propertyimg.all|slice:":1" %}
                                                          <div class="carousel-item active">
                                                            <img class="d-block w-100" src="{{ pro_img.image.url }}" alt="First slide">
                                                          </div>
                                                         {% endfor %} 
                                                          <div class="carousel-item">
                                                            <img class="d-block w-100" src="https://mirrorlesscomparison.com/wp-content/uploads/2018/11/Fuji-X-T3-sample-2.jpg" class="d-block w-100" alt="Second slide">
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img class="d-block w-100" src="https://images.squarespace-cdn.com/content/v1/597207b0d7bdce7eac34c8b5/1544491926926-S3I9X1ZFTCHLHMNEF4N2/ke17ZwdGBToddI8pDm48kO3p2ZItWxp8C4Cy5ixDUBJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UfJq45Bbz3uWKcfIeNJ_PgH7d_9v34I-ondB24PMqZwEBsc6d8xABtQMYHwnG515BA/fuji+xt3+review+weddings-001-5.jpg" class="d-block w-100" alt="Third slide">
                                                          </div>
                                                        </div>
                                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="sr-only">Next</span>
                                                        </a>
                                                      </div>
                                                      

                                        </div>
                                </div>
                        </div>
                </div>
                        <div class="modal-body">
                        <div class="p-5 pro">
                                <div class="row">
                                        <div class="col-md-5">
                                                <div class="label">Rent </div>
                                                <h4>$ {{ property.rent }}</h4><hr>
                                        </div>
                                        <div class="col-md-7">
                                                <div class="label">Security deposit</div>
                                                <h4>$ {{ property.deposit }}</h4><hr>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-9">
                                                <h4>{{ property.facilites }} for {{ property.rent }}, {{ property.city }}</h4>
                                                <div class="label">Only for {{ property.types }}</div><hr>
                                        </div>       
                                </div>

                                <div class="row py-2">
                                        <h3>House Features</h3>
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                                <i id="bed" class="fas fa-bed"></i>
                                                <p>bedrooms</p><hr>
                                        </div>
                                        <div class="col-md-6">
                                                <i id="bath" class="fas fa-bath"></i>
                                                <p>bathrooms</p><hr>
                                        </div>
                                </div>
                                <div class="row py-3">
                                        <h3>Rent Details</h3>
                                </div>
                                <div class="row py-3">
                                        <ul>
                                        <li>
                                           <strong>Pay security deposit & rent with easy EMIs at 0% interest rates</strong>
                                        </li>
                                        <li>
                                           <strong>You can opt to book the entire house & live with your family, friends, or by yourself.</strong>
                                        </li>
                                        </ul>
                                </div>
                                <div class="row py-2">
                                        <div class="col-md-6 text-left">
                                                <h4>Monthly rent</h4>
                                        </div>
                                        <div class="col-md-6 text-right">
                                             <h4 class="text-right">$ {{ property.rent }}</h4>
                                        </div>
                                </div>
                                <div class="row py-3">
                                        <div class="col-md-6 text-left">
                                                <h4>Security Deposite</h4>
                                                <p>Fully refundable if vacated in original condition</p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                                <h4 class="text-right">$ {{ property.deposite }}</h4>
                                        </div>
                                </div>
                                <div class="row py-5">
                                        <div class="col-md-6 text-left">
                                        <h4>For more details & Booking </h4>
                                        <div id="details"></div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                                <form action="" method="get" id="notify_form" >
                                                        {% csrf_token %}
                                                        <button type="submit" id="request-btn" class="btn submit contact-submit form-control">Contact info:</button>
                                                </form>
                                        </div>

                                        <div class="text-center">
                                                <button class="btn submit contact-submit form-control px-5 log" id="enquiry" style="display: none;" data-toggle="modal" data-target="#exampleModalCenter5">
                                                        Book Now
                                                </button>
                                        </div>
                                </div>
                        </div>
                </div>
                <!-- booking form -->
	<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="login px-4 mx-auto mw-100">
						<h5 class="text-center mb-4">Book Now</h5>
						<form action="{% url 'room_booking' property.id %}" method="post">
                                                        {% csrf_token %}
							<div class="form-group">
								<label>First Name</label>
								{{ form.first_name }}
							</div>
							<div class="form-group">
								<label>Last Name</label>
								{{ form.last_name }}
                                                        </div>
                                                        <div class="form-group">
								<label>Email</label>
								{{ form.email }}
							</div>
							<div class="form-group">
								<label class="mb-2">Address</label>
								{{ form.address }}
							</div>
							<div class="form-group">
								<label>Phone No:</label>
								{{ form.contact_number }}
                                                        </div>
							<button type="submit" class="btn btn-primary submit mb-4">Proceed</button>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//booking form-->
        {% endif %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
<script type="text/javascript">
    $(document).ready(function(){
        $("#request-btn").click(function(){
				
            $.ajax({
               url: "{% url 'contact_details' property.id %}",
               type: "GET",
               data: { property: "{{ property.id }}" },
               dataType:"json",
               success: function(data){
                        if(data.authenticated){
                                $("#enquiry").show();
                                $("#request-btn").hide();
                                $("#details").html("<h6>Contact me" + "<br>" + "Email:" + data.email + "<br>" +"Mobile:" + data.mobile + "<hr>")
                        }
                        else{
                                window.location.href = "{% url 'login' %}"    
                        }
            }
        });
        });
    }); 

// visting alert to property owner
$(document).ready(function(event){
	$("#request-btn").click(function(event){
		event.preventDefault();

		$.ajax({
			type:'POST',
			url:"{% url 'notification' property.id %}",
			data:$('#notify_form').serialize(),
			dataType:'Json',
			success:function(data){
                                if(data.authenticated){
                                        if(data.msg == "success"){
                                                console.log('notification sented')
                                        }
                                }
                                else{
                                        window.location.href = "{% url 'login' %}"
                                }
			}

		});
	});
});

</script>

        </div>
        </div>
        </div>
</section>
{% endblock %}