{% extends 'formbase.html' %}
{% load static %}
{% block content %}
		<!-- banner-text -->
		<div class="banner-w3ltext about-w3bnr">
			<div class="container">
				<h1 class="text-white text-center">
					<a href="{% url 'home' %}">Home</a> / Property</h1>
			</div>
		</div>
		<!-- //banner-text -->
	</div>
	<!-- //banner -->

	<!-- gallery -->
	<section class="wthree-row w3-gallery py-5">
		<div class="container-fluid py-xl-5 py-lg-3">
			{% if properties %}
			<div class="text-center mb-lg-5 mb-4">
				<h3 class="tittle mb-2">My Property</h3>
				<p>See your property</p>
			</div>
			{% if messages %}
    		{% for message in messages %}
    		<div class="alert alert-success text-center" id="msg" role="alert">
				{{ message }}
    		</div>
    		{% endfor %}
			{% endif %} 
			<h5 class="mx-5">{{ total_pro }}- Your own Property</h5>
		{% for property in properties %}
		<div class="container">
			<div class="row">
				<div class="mx-auto">
					<div class="modal-body">
					<div class="p-5 pro">
						<div class="row">
							<div class="col-md-4">
								<div class="item">
									<span class="pro-badge">{{ property.types }}</span>
										<img src="{{ property.images.url }}" class="img-fluid" style="height: auto;">
								</div>
							</div>
							<div class="col-md-5">
								<div class="caption">
									<div>
										<h4>{{ property.rent }}</h4>
										<i class="far fa-thumbs-up"></i>
										<span>Deposite: {{ property.deposite }}</span>
									</div>
									<div>
										<h5>{{ property.headline }}, {{ property.location }}</h5>
									</div>
									<div>
										<strong>Location: </strong>{{ property.city }}
									</div>
									<div>
										<strong>Address: </strong>{{ property.address }}
									</div>
									<div>
										<strong>Email: </strong>{{ property.email }}
									</div>
									<div>
										<strong>Mobile: </strong>{{ property.mobile }}
									</div>
									<div>
										<strong>Facilities: </strong>{{ property.facilites }}
									</div>
									
									<div id="response"></div>
								</div>
							</div>
							<div class="col-md-3">
								<a href="{% url 'edit_property' property.id %}" class="btn btn-success">Edit</a>
						

						<button type="button" class="log btn btn-danger" data-toggle="modal" data-target="#deleteBox">delete</button>
						<div class="modal fade" id="deleteBox" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header text-center">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									
									<div class="modal-body">
										<div class="px-4 mx-auto mw-100">
											<h5 class="mb-4">Delete</h5>
											<strong>The following property will be deleted permanenty.</strong>
											<p class="pl-3">Property: {{ property.headline }}</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">CANCEL</button>
											<a href="{% url 'delete_property' property.id %}" class="btn btn-danger">OK</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
		{% endfor %}
		<!--paginator-->
			<div class="row my-3">
				<div class="mx-auto">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
					{% if properties.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ properties.previous_page_number }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{% endif %}
					<li class="page-item"><a class="page-link" href="#">{{ properties.number }}</a></li>
					{% if properties.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ properties.next_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					{% endif %}
					</ul>
				</nav>
				</div>
			</div>
			<!--//paginator-->

		{% else %}
		<div class="text-center mb-lg-5 mb-4">
			<h3 class="tittle mb-2">Add your first property</h3>
			<p>Find your gust</p>
		</div>
		<div class="jumbotron">
			<h1 class="display-4 text-center">Hi, {{ user.first_name }}</h1>
			<p class="lead text-center">Add Your Property Here, Your Property is our Responsibility</p>
			<hr class="my-4">
			<div class="text-center">
			<a class="btn btn-dark btn-lg text-center" href="{% url 'new_property' %}" role="button">Add Property</a>
			<h3 class="my-3">How WhiteBricks different ?</h3>
			<div class="container">
				<div class="row mx-auto">
					<div class="col-md-4">
						<div class="card mx-3">
							<div class="card-header">
								<h4>Property Security</h4>
							</div>
							<div class="card-body">
								<div class="secure">
									<i class="fas fa-shield-alt"></i>
								</div>
							  <p class="card-text">We ensure to keep your house in good condition.</p>
							</div>
						  </div>
					</div>
					<div class="col-md-4">
						<div class="card mx-3">
							<div class="card-header">
								<h4>Rent On Time</h4>
							</div>
							<div class="card-body">
								<div class="secure">
									<i class="fas fa-hourglass-start"></i>
								</div>
							  <p class="card-text">We guarantee rent on time every month</p>
							</div>
						  </div>
					</div>
					<div class="col-md-4">
						<div class="card mx-3">
							<div class="card-header">
								<h4>Zero Paperwork</h4>
							</div>
							<div class="card-body">
								<div class="secure">
									<i class="far fa-sticky-note"></i>
								</div>
							  <p class="card-text">We do the paperwork for you like agreement creation</p>
							</div>
						  </div>
					</div>
				</div>
			</div>
			</div>
		  </div>
		{% endif %}
			<!--// property-area -->			
		</div>
		<!-- //property container -->
	</section>
	<!-- //gallery -->
	<script>
		setTimeout(function(){
		if ($('#msg').length > 0) {
			$('#msg').fadeOut('slow');
		}
		}, 1000)
	</script>
	

	{% endblock %}