{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="modal-body">
            <div class="my-5 p-5 pro">
                    <h5 class="text-center mb-4">Register Now</h5><hr>
                    <form action="" method="post" id="reg-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div id="msg"></div>
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="number" class="form-control" name="con_number" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label class="mb-2">Password</label>
                            <input type="password" class="form-control" name="password1" id="password1" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="password2" id="password2" placeholder="" required="">
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4" id="submit-btn">Register</button>
                        <div class="mt-5" id="spin" style="display: none;">
							<div class="loader"></div>
						</div>
                        <p class="text-center pb-4">
                            <a href="{% url 'login' %}" class="text-center pb-4">Already a user go to the login page</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//register-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(document).on("submit", "#reg-form",function(event){
            event.preventDefault();
            $("#spin").show();
            
            $.ajax({
                url: "{% url 'register' %}",
                type: "POST",
                data: $("#reg-form").serialize(),
                success:function(data){
                    $("#spin").hide();
                    if(data.status == "used_username"){
                        $("#msg").html("<p class='alert alert-danger'>This username is already taken, Please enter another one</p>");
                        
                    }
                    else if(data.status == "used_email"){
                        $("#msg").html("<p class='alert alert-danger'>This email is already taken, Please enter another one</p>" );
                    }
                    else if(data.status == "success"){
                        $("#msg").html("<p class='alert alert-success'>Succesfully created your account,Please Check your email and activate the account</p>");
                        $("#reg-form").trigger("reset");                     
                    }
                }
            })
        })
    })

    setTimeout(function(){
		if ($('#msg').length > 0) {
			$('#msg').remove();
		}
		}, 2000)
</script>
      
{% endblock %}                               		