{% extends 'formbase.html' %}
{% load static %}
{% block content %}

<!-- banner-text -->
<div class="banner-w3ltext about-w3bnr">
	<div class="container">
		<h1 class="text-white text-center">
			<a href="{% url 'home' %}">Home</a> / Properties</h1>
	</div>
</div>
<!-- //banner-text -->
</div>
<!-- //banner -->
<!-- search result -->
<section class="wthree-row w3-gallery py-5">
	<div class="container py-xl-5 py-lg-3">
		<div class="text-center mb-lg-5 mb-4">
			<h3 class="tittle mb-2">Properties</h3>
			<p>See your choice</p>
		</div>

	{% if accomodations %}	
	{% for accomodation in accomodations %}
	<div class="row">
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-sm-4 col-md-4">
			<img src="{{accomodation.images.url}}" class="img-responsive" style="width:100%">
		</div>
		<div class="col-sm-5 col-md-5">
			<div class="caption">
				<div>
					{{accomodation.city}}
				</div>
				<div>
					{{accomodation.location}}
				</div>
				<div>
					{{accomodation.facilites}}
				</div>
				<div>
					{{accomodation.rent}}
				</div>
				<button id="request-btn" class="btn btn-primary">Contact info:</button>
				<div id=response></div>
			</div>
		</div>
	</div>
	<hr>
	{% endfor %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#request-btn").click(function(){
            $.ajax({
               url: "/whitebricks/contact_details/",
               type: "GET",
               dataType:"json",
               success: function(result){

                $.each(result, function() {
                    html = "Email:" + this.email + "<br>" +"Mobile:" + this.mobile + "<hr>"
                    $("#response").append(html)
                });
            }
        });
        });
    }); 
</script>
    {% else %}
    <h1>Not Found</h1>
	{% endif %}
	<!--end portfolio-area -->
</div>
<!-- //search result container -->
</section>
<!-- //search result -->
   
{% endblock %}