{% extends 'formbase.html' %}
{% load static %}
{% block content %}


<!-- banner-text -->
<div class="banner-w3ltext about-w3bnr">
	<div class="container">
		<h1 class="text-white text-center">
			<a href="{% url 'home' %}">Home</a> / Properties</h1>
	</div>
</div>
<!-- //banner-text -->
</div>
<!-- //banner -->
<!-- search result -->
<section class="wthree-row w3-gallery py-5">
	<div class="container-fluid py-xl-5 py-lg-3">
		<div class="text-center mb-lg-5 mb-4">
			<h3 class="tittle mb-2">Properties</h3>
			<p>See your choice</p>
		</div>
		<ul class="portfolio-categ filter mb-5 pb-4 text-center border-bottom">
			<li>
				<form action="" class="form-inline">
					<input class="form-control mr-sm-2" type="search" name="search" size="80" placeholder="Search..." aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				  </form>
			</li>
		</ul>

	{% if properties %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
	{% for property in properties %}
	<div class="container">
	<div class="row">
		<div class="mx-auto">
			<div class="modal-body">
			<div class="p-5 pro">
				<div class="row">
					<div class="col-md-4">
						<div class="inner">
							<div class="badge badge-secondary p">{{ property.types }}</div>
						<img src="{{ property.images.url }}" class="img-fluid">
						</div>
					</div>
					<div class="col-md-5">
						<div class="caption">
							<div>
								<h4><a href="{% url 'property_details' property.id %}" class="detail" target="_blank">{{ property.rent }}</a></h4>
							</div>
							<i class="far fa-thumbs-up"></i><span>Deposite: {{ property.deposite }}</span>
							<div>
								<h5><a href="{% url 'property_details' property.id %}" class="detail" target="_blank">{{ property.headline }}, {{ property.location }}</a></h5>
							</div>
							<div>
								<strong>Location: </strong>{{ property.city }}
							</div>
							<div id="response"></div>
						</div>
					</div>
					<div class="col-md-3">
						<a href="{% url 'property_details' property.id %}" target="_blank" class="btn btn-primary">details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
<script type="text/javascript">

    $(document).ready(function(){
        $("#request-btn").click(function(){
			
		let id = $('#property_id').val();	
            $.ajax({
               url: "{% url 'contact_details' %}",
               type: "GET",
               dataType:"json",
               success: function(result){

                $.each(result, function() {
					$("#request-btn").hide()
                    html =  "Email:" + this.email + "<br>" +"Mobile:" + this.mobile + "<hr>"
                    $("#response").append(html)
					$("#response").slideDown()
                });
            }
        });
        });
    }); 

$(document).ready(function(event){
	$("#request-btn").click(function(event){
		event.preventDefault();

		$.ajax({
			type:'POST',
			url:"{% url 'notification' %}",
			data:$('#notify_form').serialize(),
		/*	data:{
				owner: $("#request-btn").val(),
				property: $("#property").val(),
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoke]'),
			},*/
			dataType:'Json',
			success:function(data){
				if(data.msg == "success"){
					console.log('notification sented')
				}
			}

		});
	});
});

</script>
    {% else %}
    <div class="jumbotron">
		<h1 class="display-4 text-center">Sorry, Not Fount !!! </h1>
		<p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		<hr class="my-4">
		<p class="text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  </div>
	{% endif %}
</div>
</div>
<!-- //search result container -->
</section>
<!-- //search result -->
   
{% endblock %}