{% extends 'formbase.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- banner-text -->
<div class="banner-w3ltext about-w3bnr">
	<div class="container">
		<h1 class="text-white text-center">
			<a href="{% url 'home' %}">Home</a> / Property</h1>
	</div>
</div>
<!-- //banner-text -->
</div>
<!-- //banner -->
<!-- adverticing-->
<section class="wthree-row w3-gallery py-5">
	<div class="container py-xl-5 py-lg-3">
		<div class="text-center mb-lg-5 mb-4">
			<h3 class="tittle mb-2">My Property</h3>
			<p>Edit your property</p>
		</div>
		<div class="row contact-form py-3">
			<!-- image block -->
			<div class="col-lg-6 text-center">
				<img src="{% static 'myhome/images/house.jpg' %}" alt="" class="img-fluid" />
				<div class="text-left py-3">
					<h3>How WhiteBricks different ?</h3>
					<p>Monthly more than 5 lakh people visit WhiteBricks in search of houses on rent</p>
					
					<div class="row py-5">
						<div class="col-md-4 text-center secure">
							<i class="fas fa-shield-alt"></i>
						</div>
						<div class="col-md-8">
							<h4>Property Security</h4>
							<p>We ensure to keep your house in good condition</p>
						</div>
					</div>
					<div class="row py-5">
					<div class="col-md-4 text-center time">
						<i class="fas fa-hourglass-start"></i>
					</div>
					<div class="col-md-8">
						<h4>Rent On Time</h4>
						<p>We guarantee rent on time every month</p>
					</div>
					</div>
					
					<div class="row py-5">
					<div class="col-md-4 text-center papper">
						<i class="far fa-sticky-note"></i>
					</div>
					<div class="col-md-8">
						<h4>Zero Paperwork</h4>
						<p>We do the paperwork for you like agreement creation</p>
					</div>
					</div>
				</div>
			</div>
			<!-- //image block -->
			<!-- form -->
			<div class="col-lg-6 wthree-form-left mt-lg-0 mt-5">
				<div class="contact-top1">
					<form action="{% url 'edit_property' property.id %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
							<div class="form-group">
								{{ form|crispy }}
								<div class="form-group">
									<button type="submit" class="btn submit contact-submit form-control ">Submit</button>	
								</div>
							</div>
					</form>
				</div>
				</div>
				</div>
		</section>
		<!--//adverticing-->
{% endblock %}	
