
<button id="request-btn">Click to get response</button>
<div id=response></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#request-btn").click(function(){
            $.ajax({
               url: "/whitebricks/contact_details/",
               type: "GET",
               dataType:"json",
               success: function(result){

                $.each(result, function() {
                    html = "Name:" + this.email + "<br>" +"tagline:" + this.mobile + "<hr>"
                    $("#response").append(html)
                });
            }
        });
        });
    }); 
</script>
    